/* estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: black;
    height: 100vh;
    scroll-behavior: smooth;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

header .btn-contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #21E823;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

 button:hover{
    box-shadow: 0px 0px 10px #21E823;
    transform: scale(1.05);
}

h2.titulo{
    color: white;
    font-size: 38px;
    text-align: center;
}

h2.titulo span{
    color: #0558EE;
}

/* estilo do cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header  a{
    color: rgb(138, 138, 138);
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header .menu-desktop a:hover{
    color: #0558EE;
    transform: scale(1.10);
    letter-spacing: 2px;
}

header nav.menu-desktop ul{
    list-style-type: none;
}

header nav.menu-desktop ul li{
    display: inline-block;
    padding: 0 40px;
}

.btn-abrir-menu{
    display: none;
}

    /* estilo menu mobile */

    .btn-abrir-menu i{
        color: #21E823;
        font-size: 40px;
    }

    .menu-mobile{
        background-color: rgb(0, 0, 0);
        height: 100vh;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 99999;
        width: 0%;
        overflow: hidden;
        transition: .3s;
    }

    .menu-mobile.abrir-menu{
        width: 70%;
    }

    .menu-mobile.abrir-menu ~ .overlay-menu{
        display: block;
    }

    .menu-mobile nav ul{
        text-align: right;
    }

    .menu-mobile nav ul li a{
        color: white;
        font-size: 20px;
        font-weight: 300;
        padding: 20px 8%;
        display: block;
    }

    .menu-mobile nav ul li a:hover{
        background-color: #21E823;
        color: black;
    }

    .menu-mobile .btn-fechar{
        padding: 20px 8%;
    }

    .menu-mobile .btn-fechar i{
        color: #21E823;
        font-size: 30px;

    }

    .overlay-menu{
        background-color: rgba(0, 0, 0, 0.808);
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 88888;
        display: none;
    }
    
/* topo do site */

section.topo-do-site{
    padding: 80px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;
}

.topo-do-site h1{
    color: white;
    font-size: 42px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site h1 span{
    color: #21E823;
    font-size: 30px;
}

.topo-do-site .txt-topo-site p{
    color: white;
    margin: 40px 0px;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: flutuar 2s ease-in-out infinite alternate;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px
    }
}

/* estilos das especialidades */
section.especialidades{
    padding: 80px 4%;
}

section.especialidades .flex{
    gap: 60px;
}

.especialidades .especialidades-box{
    color: white;
    padding: 40px;
    border-radius: 20px;
    margin-top: 50px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.432);
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: #0558EE;
}

.especialidades .especialidades-box h3{
    font-size: 28px;
    margin: 15px 0;
}

/* estilo sobre */
section.sobre{
    padding: 100px 4%;
}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: white;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre .txt-sobre h2 span{
    color: #21E823;
    display: block;
}

.sobre .txt-sobre p{
    margin: 30px 0;
    text-align: justify;
}

.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #21E823;
    font-size: 25px;
    cursor: pointer;
    margin: 0 10px;
}

/* estilo portifolio */
section.portifolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.192);
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position:  0% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    margin-top: 30px;
}

.img-port:hover{
    background-position: 100% 0%;
    margin-top: 30px;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    background-color: #000000c7;
    color: white;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

section.portifolio .flex{
    gap: 80px;
}

/* estilo formulario*/

section.formulario{
    padding: 80px 4%;
}

.interface .txt-formulario h2{
    color: white;
    font-size: 38px;
    text-align: center;
}

.interface .txt-formulario h2 span{
    color: #21E823;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

form input, form textarea{
    width: 100%;
    background-color: rgba(22, 22, 22, 0.74);
    border: none;
    outline: none;
    padding: 20px 15px;
    border-radius: 15px;
    color: white;
    font-size: 18px;
}

form input::placeholder{
    color: #21E823;
}

form textarea::placeholder{
    color: #21E823;
}

form textarea{
    resize: none;
}

form .btn-enviar{
    margin-top: 20px;
    text-align: center;
}

form .btn-enviar input[type=submit]{
    width: 150px;
    font-size: 18px;
    font-weight: 600;
    background-color: #21E823;
    color: black;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

form .btn-enviar input[type=submit]:hover{
    box-shadow: 0px 0px 10px #21E823;
    transform: scale(1.05);
}

/* estilos footer */

footer{
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.192);
}

footer .flex{
    justify-content: space-between;
}


footer .line-footer p i{
    color :#21E823;
    font-size: 22px;
    padding: 4px;
}

footer .line-footer p a{
    color: white;
    gap: 10px;
    padding: 15px;
    letter-spacing: 2px;
}

.borda{
    border-bottom: 2px solid #21E823;
    padding: 10px;
}


@media screen and (max-width: 1020px){
    /* classes gerais */
    
    html{
        scroll-behavior: smooth;
    }

    .btn-abrir-menu{
        display: block;
    }
    .flex{
        flex-direction: column;
    }

    h2.titulo{
        font-size: 33px;
        line-height: 30px;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }
    /* cabeçalho */
    .menu-desktop, .btn-contato{
        display: none;
    }

    
    /* topo do site */
    section.topo-do-site .flex{
        gap: 30px;
    }

    section .topo-do-site{
        padding: 20px 8%;
    }
    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        height: 450px;
    }

    /* especialidades */
    section.especialidades{
        padding: 40px 8%;
    }

    /* sobre */
    section.sobre{
        padding: 80px 8%;
    }

    section.sobre .flex img{
        display: none;
    }

    .sobre .txt-sobre h2{
        font-size: 30px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    /* portifolio */
    section.portifolio{
        padding: 90px 8%;
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portifolio .flex{
        gap: 60px;
        margin-top: 100px;
    }

    /* rodapé */
    footer .flex{
        flex-direction: column;
    }

    footer .line-footer{
        text-align: center;
    }
    
}